body {
    font-family: sans-serif;
    color: white;
    background-color: #121212;
}

#content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 5fr 3fr;
}

button {
    cursor: pointer;
}
